#wrapper {
	text-align: center;
}

#mWrap{
	width: 80%;
	margin: auto;
}

#messages{
	list-style: none;
	text-align: left;
	overflow: auto;
	padding: 0px;
	font-family: sans-serif;
	color: lightgrey;
	font-weight: bold;
}

input {
	position: absolute;
	border: none;
	border-bottom: 3px solid black;
	width: 80%;
	font-size: 3em;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -463px;
}

input:focus{
	outline: none;
}